.characterButton {
  display: block;
  justify-content: center;
  min-width: 75%;
  margin: 0.5em;
  border-radius: 32px 0px;
  font-family: 'Playfair Display SC', serif;
}

/* Delete button for character buttons */
.deleteButton {
  margin: auto;
  border-radius: 8px 8px;
}

.GIFspot img {
  width: 128px;
  /* height: 128px; */
  /* margin: auto; */
}

#GIPHY img {
  margin: auto;
}
#GIPHY h3 {
  margin: 12px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* styling for sticky footer */

html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  margin-bottom: -310px;
}
.footerEl,
.push {
  height: 310px;
  padding: 0%;
}

.footerEl .column {
  padding: 0%;
}

.footerEl img {
  margin: 0%;
}

#GIPHY {
  margin-left: auto;
  margin-right: auto;
}

#GIPHY .is-flex-wrap-wrap,
.searchDropdownBar {
  max-width: 800px;
}
/* ^^^ affects how many GIFs can be seen on a single line (adjust max if going for bigger GIFs than placeholder for 5 per row */
/* matching  */

#searchHistory {
  max-width: 600px;
  display: table;
}

#heroPic {
  width: 25%;
  height: auto;
}
/* ^^^ scales the hero image (can adjust!) 
make so that if breakpoint, make full width!
*/

#characterName {
  font-family: 'Bangers', cursive;
  font-size: 60px;
}

.headerPanel {
  background-color: #ED1D24;
}

.marvelLogoHeader {
  margin-bottom: -8px;
  height: 120px;
}

.headerMarvel {
  font-family: 'Monoton', cursive;
  font-size: 100px;
}
