.searchHistory button{
    display: block;
    justify-content: center;
    min-width: 75%;
    margin: 0.5em;
    border-radius: 32px 0px;
}

img{
    float: left;

}

#GIPHY img{
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


/* styling for sticky footer */

  html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;

    margin-bottom: -310px;
  }
  .footerEl,
  .push {
    height: 310px;
    padding: 0%;
  }

  .footerEl .column{
      padding:0%;
  }
 
  .footerEl img{
      margin:0%;
  }
 
  #GIPHY{
      margin-left: auto;
      margin-right: auto;
  }
  

