.characterButton {
  display: block;
  justify-content: center;
  min-width: 75%;
  margin: 0.5em;
  border-radius: 32px 0px;
  font-family: 'Playfair Display SC', serif;
}

/* Delete button for character buttons */
.deleteButton {
  margin: auto;
  border-radius: 8px 8px;
}

.GIFspot img {
  width: 128px;
  /* height: 128px; */
  /* margin: auto; */
}

#GIPHY img {
  margin: auto;
  width: 128px;
  height: 128px;
}
#GIPHY h3 {
  margin: 12px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* styling for sticky footer */

html{
  /* adds a background photo with opacity */
  background: url(MarvelHeroes2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: lighten;
  /* to change opacity without creating a div adding pseudos*/
 background-color: rgb(155, 146, 146, .5);

}

body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  margin-bottom: -310px;
}
.footerEl,
.push {
  height: 310px;
  padding: 0%;
}

.footerEl .column {
  padding: 0%;
}

.footerEl img {
  margin: 0%;
}

#GIPHY {
  margin-left: auto;
  margin-right: auto;
}

#GIPHY .is-flex-wrap-wrap,
.searchDropdownBar {
  max-width: 800px;
}
/* ^^^ affects how many GIFs can be seen on a single line (adjust max if going for bigger GIFs than placeholder for 5 per row */
/* matching  */

#searchHistory {
  max-width: 600px;
  display: table;
  background-color: black;
  
}

#heroPic {
  width: 25%;
  height: auto;
}
/* ^^^ scales the hero image (can adjust!) 
make so that if breakpoint, make full width!
*/
/* To make character description text standout from background*/
.characterDescription{
  color: rgb(2, 8, 0);
  background-color: white;
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: 5px;
  max-width: 740px;
  font-size: 20px;
  font-family: 'Bangers', cursive;
}


#characterName {
  font-family: 'Bangers', cursive;
  font-size: 60px;
}

.headerPanel {
  background-color: #ff0000;
}

.marvelLogoHeader {
  margin-bottom: -42px;
  height: 200px;
  margin-top: -40px;
}

.headerMarvel {
  font-family: 'Monoton', cursive;
  font-size: 70px;

}

.characterStats{
  color: black;
background-color:white;
max-width: 315px;
border-color: rgb(2, 8, 0);
border: solid;
border-width: 5px;
margin-bottom: 5px;
}
h2{
  font-family: 'Bangers', cursive;
  color: black;
  font-weight: bolder;
}
h3{
  color: black;
  font-weight: bolder;
}